*{
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 53, 63);
}

.login-system{
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
    background-image: rgb(36, 53, 63);
}
h1{
    color: rgb(23, 162, 184);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}
.form-control{
    border-color: rgb(206, 212, 218);
    background-color: rgb(36, 53, 63) !important;
    box-shadow: none !important;
    width: 90%;
}
::placeholder{
    color: #ced4da !important;
}
button{
    width: 90%;
}
a{
    text-decoration: none;
    color: #fff;
}
#existAlert{
    display: none;
}
#successAlert{
    display: none;
}
#requiredAlert{
    display: none;
}
#incorrectAlert{
    display: none;
}
#logoutBtn{
    width: auto;
    color: gray;
    display: none;
    
    
}
nav{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: rgb(36, 53, 63) ;
    position: relative;
    padding: 8px 16px;
    
    
}
i{
    color: gray;
    border: solid .5px gray;
    border-radius: 8px;
    padding: 5px 15px;
    display: none !important;
    cursor: pointer;
}
.welcome{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
